@model Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Реєстрація";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", new { returnUrl = ViewBag.ReturnUrl }, 
    FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Обліковий запис.</h4>
    <hr />
    Html.RenderPartial("Partials/_RegisterUser", Model);
    <div id="createAdress" style="display: none;">
        @Html.Partial("Partials/_CreateAdress", Model.Adress,
        new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "Adress" } })
        [ <a id="hideMap" href="#">Сховати</a> ]
    </div>
    <div id="textAdress">
        <dl class="dl-horizontal">
            <dt>Адреса:</dt>
            <dd>
                @if (Model.Adress == null)
                {
                    @: Нет [ <a id="showMap" href="#">Додадти</a> ]
                        }
                else
                {
                    <span id="FullAdress">@Model.Adress</span>
                    @: [ <a id="showMap" href="#">Змінити</a> ]
                        }
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" class="btn btn-primary" value="Регистрация" />
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.adressSity').val("Київ");
            $('#PhoneNumber').change(function() {
                if ($('#UserName')[0].value === "") {
                    $('#UserName').val('user' + $('#PhoneNumber')[0].value);
                }
            });
        });
    </script>
}
