@{
    ViewBag.Title = "Технологія використання Web-системи управління взаємодією з клієнтами в електронній торгівлі";
}
<div >
    <h2 style="text-align: center"><strong>@ViewBag.Title</strong>
    </h2>
    <hr />

    <p class="lead text-justify">
        Для отримання доступу до функцій Web-системи управління взаємодією з клієнтами в електронній торгівлі потрібно перейти на посилання <a href="http://ecommerce.net-studio.info">http://ecommerce.net-studio.info</a>, після чого у вікні браузера буде активізовано головне вікно додатку.
    </p>
    <p class="lead text-justify">
        <strong>Технічні вимоги.</strong> Для забезпечення функціонування Web-системи на стороні сервера необхідна наявність:
        <ul class="lead">
            <li>MS IIS 7.0 і вище;</li>
            <li>.NET Framework 4.6 і вище;</li>
            <li>MSSQL 2008 і вище.</li>
        </ul>
    </p>
    <p class="lead text-justify">
        Наступний етап роботи з системою – це процедура аутентифікації користувачів, яка полягає у введенні даних користувача (логін і пароль) в модуль аутентифікації. Процедура забезпечує доступ до елементів управління Web-додатком залежно від рівня доступу користувача. Рівень доступу до елементів управління визначається введеним логіном та паролем конкретного користувача, надається користувачеві системи адміністратором додатку. Web-додаток розрахований на роботу із трьома групами користувачів: адміністратори, менеджери даних і звичайні користувачі. Після успішної аутентифікації, в залежності від рівня доступу користувача до ресурсів Web-системи управління взаємодією з клієнтами в електронній торгівлі, відкривається вікно програми з наданням відповідного доступу до елементів управління Web-додатку.
    </p>
    <p class="lead text-justify">
        Для редагування списку користувачів і рівнів їх доступу до ресурсів системи потрібно, спочатку зареєструватися в системі, а потім в діалоговому вікні адмін-панелі задати рівень доступу (адміністратор, менеджер або користувач) користувача. Редагувати списки користувачів і рівні їхнього доступу до ресурсів системи має право адміністратор системи. Після внесення потрібної інформації або її редагування для збереження внесених змін завжди потрібно натискати кнопку «Зберегти», або, для їх відміни, кнопку «Видалити». Варто зазначити, що робота з адмін-панеллю доступна тільки в режимі доступу - адміністратор.
    </p>
</div>
