@model IEnumerable<Web.Models.ReceiptViewModel>

<table class="table table-striped">
    <tr class="active">
        <th><span class="center-block">Номер</span></th>
        <th><span class="center-block">Адреса доставки</span></th>
        <th><span class="center-block">Контактний телефон</span></th>
        <th><span class="center-block">Відстань доставки, км</span></th>
        <th><span class="center-block">Категорія урбанізації</span></th>
        <th><span class="center-block">Вагова категорія</span></th>
        <th><span class="center-block">Тарифний коєфіцієнт</span></th>
        <th><span class="center-block">Транcакційні витрати, грн.</span></th>
    </tr>

    @Html.DisplayForModel()

</table>