@model IEnumerable<Web.Models.RouteViewModel>

<div class="form-group">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th><span class="center-block" >Маршрут</span></th>
                <th><span class="center-block">Номери замовлень</span></th>
                <th><span class="center-block">Тип доставки</span></th>
                <th><span class="center-block">Загальна дистанція маршруту</span></th>
                <th><span class="center-block">Число адрес на маршруті</span></th>
                <th><span class="center-block">Транcакційні витрати на маршруті</span></th>
                @*<th/>*@
            </tr>

            @Html.DisplayForModel()

        </table>
    </div>
</div>

