body {
    /*padding: 20px;*/
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    background: url('/Content/background.jpg') no-repeat 0 100%;
    background-size: 100% auto;
    background-position: 0 0;
    padding-bottom: 0;
}

img.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.75);
}

html, body {
    margin: 0px;
    height: 100%;
    overflow: auto;
}

footer {
    background-color: #eee;
    height: 50px;
    margin-top: -50px;
    -webkit-box-shadow: 0 0 9px black;
    -ms-box-shadow: 0 0 9px black;
    box-shadow: 0 0 9px black;
}
.navbar {
    -webkit-box-shadow: 0 0 9px black;
    -ms-box-shadow: 0 0 9px black;
    box-shadow: 0 0 9px black;
}

    footer p {
        text-align: center;
        padding-top: 10px;
        font-size: 21px;
        font-weight: 200;
    }

.jumbotron {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    height: 100%;
    background-color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 50px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 0 0 9px black;
    -ms-box-shadow: 0 0 9px black;
    box-shadow: 0 0 9px black;
}
th {
    text-align: center;
    vertical-align: middle;
}
.table tbody > tr > th {
    vertical-align: middle;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table tbody > tr > th {
    border-top: none;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.stretch {
    max-width: none;
}


@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
        font-size: 11px;
    }
    
    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        /*border: 1px solid #999;*/
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    select {
        background: #fff !important;
    }

    .navbar {
        display: none;
    }

    .table td,
    .table th {
        background-color: #fff !important;
    }

    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }

    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table-bordered th,
    .table-bordered td {
        /*border: 1px solid #ddd !important;*/
    }
}

@media print {
    .visible-print {
        display: block !important;
    }

    table.visible-print {
        display: table;
    }

    tr.visible-print {
        display: table-row !important;
    }

    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }

    html, body {
        height: auto;
        padding-top: 0;
        max-width: 600px;
    }
    .dl-horizontal {
        max-width: 600px;
    }
    .dl-horizontal dt {
        padding-right: 20px;
     }
    .body-content {
        max-width: 600px;
    }
}

@media all {
    .page-break {
        display: none;
    }

    /*.onlyprintable {
        display: none;
    }*/
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus .navbar > .container .navbar-brand:hover, .navbar > .container-fluid .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus {
        color: #337ab7;
    }
